
@media (max-width: 1000px) {
    #slide4 {
        display: none;
    }

    body{
            background-image: url('../img/background_.jpg'); /* no-repeat fixed 100% 100%; */
            background-size: auto 100%;

    font-family: "Arial", "Helvetica", sans-serif;
        }

     .logoimgm { 
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            display: block;
            padding-top: 15px;
            padding-left: 55px;
            margin-bottom: 50px;
     }

     .navigation { display: none;}
     .slide{
        display: none;
     }

     .contact{
        width: 100%;
        background-color: white;
        color: rgb(40, 161, 171);
        font-size: 18pt;
     }

     .contact div {
        margin-left: 35px;
        margin-right: 35px;
        padding-top: 25px;
        padding-bottom: 25px;
     }
}

@media (min-width: 1000px) {

body {
    background-image: url('../img/background_.jpg'); /* no-repeat fixed 100% 100%; */
   /* background-size: 120%; 
    background-position: fixed; */
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0px 0px;
    background-attachment: fixed;

    font-family: "Arial", "Helvetica", sans-serif;
}

#mobile {
    display: none;
}

.navigation {   
    position:fixed;     
    z-index:1;      
    top:20px;  
}  
.navigation li {    
    color:#333333;      
    display:block;      
    padding: 0 10px;    
    line-height:30px;   
    margin-bottom:2px;      
    font-weight:bold;   
    -webkit-transition: all .2s ease-in-out;    
    border-bottom:1px solid black;      
    text-align:left;    
    width:96px;  
}  
.navigation li:hover,
.active {   
    font-size:25px;     
    cursor:pointer;     
    width:150px!important;  
}

/* logo */
.logoimg {  
    position: fixed;  
    top: 17px;  
    left: 10px;  
    width: 85px;
    z-index:1;
}

.logoimg2 {  
    position: fixed;  
    top: 17px;  
    left: 10px;  
    width: 85px;
    display: none;
    z-index:1;  
}

/* slides */
.slide {
    /* background-attachment: fixed; */
    width: 100%; /* 960px; */
    height:100%;
    position: relative;
    /*
    margin-left: auto;
    margin-right: auto;
    */
    /*
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
    */
}
.wrapper {
    width:960px;
    height:200px;
    margin:0 auto;
    position:relative;
}
.slideno {
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:100px;
    font-weight:bold;
    color:rgba(255,255,255,0.3);
}

/* titelboxen */

.titlebox {
    color: rgb(40, 161, 171);
    font-size: 1.5em;
}

/* textboxen */
.textbox {
    padding: 20px;
    background-color: rgb(255, 255, 255); /* Fallback */
    color: rgb(40, 161, 171);
    /* color: rgb(5, 47, 80);  */
    /*
    background-color: rgba(255, 255, 255, 0.45); 
    
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
    */
}

.blue {
    color: rgb(10, 131, 141);
}

/* Slide-specific css */
#slide1 img:first-child{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 80%;
}
#slide1 img:nth-child(2){
    position: absolute;
    bottom: 10px;
    left: 49%;
}
#slide1 div{
    position: absolute;
    bottom: 10px;
    left: 49%;
    width: 50px;
    color: white;
    font-size: 2.2em;
    margin-right: auto; margin-left: auto;
}
/*
#slide1 img{
    position: absolute;
    top: 50px;
    left: 620px;
}
#slide1 div:first-child{
    position:absolute;
    top: 70px;
    left: 620px;
    width: 250px;
}
#slide1 div:nth-child(2){
    position:absolute;
    top: 250px;
    left: 600px;
    width: 450px;
}
#slide1 div:nth-child(3){
    position:absolute;
    top: 90px;
    left:150px;
    width: 400px;
}
*/

#slide2 div:first-child{
    position:absolute;
    top: 70px;
    left: 620px;
    width: 200px;
}
#slide2 div:nth-child(2){
    position:absolute;
    top: 250px;
    left: 600px;
    width: 450px;
}
#slide2 div:nth-child(3){
    position:absolute;
    top: 90px;
    left:150px;
    width: 400px;
}

#slide3 div:first-child{
    position:absolute;
    top: 70px;
    left: 620px;
    width: 200px;
}
#slide3 div:nth-child(2){
    position:absolute;
    top: 250px;
    left: 600px;
    width: 450px;
}
#slide3 div:nth-child(3){
    position:absolute;
    top: 90px;
    left:150px;
    width: 400px;
}

#slide4 > div:first-child{
    height: 58px;
    padding-bottom: 0px;
    padding-top: 35px;
    padding-left: 105px;
}
#slide4 > div:nth-child(2){
    position:absolute;
    top: 110px;
    left: 8%;
    width: 35%;
    height: 40%;
}
#slide4 > div:nth-child(3){
    position:absolute;
    top: 110px;
    left:55.0%;
    width: 450px;
    height: 400;
}
#slide4 > div:nth-child(4){
    position:absolute;
    bottom: 0px;
    left: 0px;
    height: 15px;
    padding: 5px 0px;
    font-size: 0.6em;
    width: 100%;
}
}